.text51 {
    color: #8b6a60;
    font-family: 'Lato' , 'Microsoft YaHei', '微软雅黑';
    font-weight: 300;
    font-size: 30px;
    font-style: normal;
    position: absolute;
    left: 10%;
    bottom: 80%;    
    opacity: 0;
    transition: all 1.5s;

}

.active .text51 {
	opacity: 1;
	transition-delay: 1s;
}


.text52 {
    color: #8b6a60;
    font-family: 'Lato' , 'Microsoft YaHei', '微软雅黑';
    font-weight: 300;
    font-size: 30px;
    font-style: normal;
    position: absolute;
    left: 10%;
    bottom: 70%;    
    opacity: 0;
    transition: all 1.5s;

}

.active .text52 {
	opacity: 1;
	transition-delay: 2.5s;
}


.text53 {
    color: #8b6a60;
    font-family: 'Lato' , 'Microsoft YaHei', '微软雅黑';
    font-weight: 300;
    font-size: 30px;
    font-style: normal;
    position: absolute;
    left: 10%;
    bottom: 60%;    
    opacity: 0;
    transition: all 1.5s;
}

.active .text53 {
	opacity: 1;
	transition-delay: 4s;
}

.img51{
    position: absolute;
    left: 13%;
    height: 50%;
    bottom: 5%;
    opacity: 0;
    transition: all 5s;
}

.active .img51{
    opacity: 1;
    transition-delay: 5.5s;

}

.img52{
    position: absolute;
    left: 37%;
    height: 80%;
    bottom: 10%;
    opacity: 0;
    transition: all 5s;
}

.active .img52{
    opacity: 1;
    transition-delay: 7s;

}


.img53{
    position: absolute;
    left: 66%;
    height: 80%;
    bottom: 10%;
    opacity: 0;
    transition: all 5s;
}

.active .img53{
    opacity: 1;
    transition-delay: 8.5s;

}
